.header {
    align: center middle;
    text-style: bold;
    color: $background;
    background: #ffc766;
    height: 3;
    width: 100%;
}

Footer {
    background: #ffc766;
}

.main_container {
    align: center middle;
    border: round #ffc766;
}

.bordered {
    border: round #ffc766;
    border-title-align: center;
    color: #ffc766;
    background: $surface;

    &:focus {
        text-style: bold;
        color: #3CA800;
        border: heavy #3CA800;
    }
}
